/*
    My Colors:
    #2F3C7E
    #FBEAEB
    #FAF9F6

    My Hover effects:
*/

/* BODY */

body {
    font-family: 'Raleway';
    background-color: #fbeaeb;
    color: #2f3c7e;
}

/* NAVBAR */

.navBar {
    display: flex;
    justify-content: space-evenly;
}

.navBar > a {
    text-decoration: none;
    text-transform: uppercase;

    padding: 1rem;
    font-weight: bold;
}

a:hover {
    background-color: #2f3c7e;
    color: #fbeaeb;
}

/* HERO */

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/assets/hero-image.jpg');
    height: 100vh;
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FAF9F6;
}

.hero-text > button {
    background-color: transparent;
    color: #FAF9F6;

    border-color: #FAF9F6;
    border-radius: 3px;

    padding: 0.6rem;
    cursor: pointer;
}
