/*
    My Colors:
    #2F3C7E
    #FBEAEB
    #F1F1F1

    My Hover effects:

    Menu:
    - Pink box with box-shadow
    - Menu text with blue above or darker blue
*/

/* BODY */

body {
    font-family: 'Raleway';
    background-color: #fbeaeb;
    color: #2f3c7e;
}

/* --- HOME PAGE --- */

/* NAVBAR */

.navBar {
    display: flex;
    justify-content: space-evenly;
}

.navBar > a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
}

.navBar > a:hover {
    background-color: #2f3c7e;
    color: #fbeaeb;
}

/* HERO */

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/assets/hero-image.jpg');
    height: 100vh;
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #f1f1f1;
}

.hero-text > h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.hero-text > p {
    font-size: 1.3rem;
}

.hero-text > button {
    text-transform: uppercase;
    background-color: transparent;
    color: #f1f1f1;

    border-color: #f1f1f1;
    border-radius: 3px;

    margin-top: 1rem;
    padding: 0.6rem;
    cursor: pointer;
}

/* --- MENU PAGE --- */

/* HERO */

.menu-hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/assets/menu-hero-image.jpg');
    height: 100vh;
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a > button {
    text-transform: uppercase;
    background-color: transparent;
    color: #f1f1f1;

    border-color: #f1f1f1;
    border-radius: 3px;

    margin-top: 1rem;
    padding: 0.6rem;
    cursor: pointer;
}

/* MENU CARDS */

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 6rem;
}

.card {
    background-color: #fbeaeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;

    border-radius: 5px;

    margin: 2rem;
    width: 15vw;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card > img {
    height: 20vh;
    width: 15vw;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.container > p {
    color: #fbeaeb;
    background-color: #2f3c7e;
    text-transform: uppercase;

    padding: 1rem;
    width: 3vw;
}
